html, body, .brackets {
  width: 100%;
  min-height: 100%;
  font-family: "Arial", sans-serif;
}
.brackets > div {
  vertical-align: top;
  clear: both;
}
.brackets > div > div {
  float: left;
  height: 100%;
}
.brackets > div > div > div {
  margin: 50px 0;
}
.brackets > .group2 {
  height: 260px;
}
.brackets > .group2 > div {
  width: 49%;
}
.brackets > div > .r1 > div {
  height: 60px;
}
.brackets div.final > div.bracketbox {
  border-top: 0px;
  border-right: 0px;
  height: 0px;
}
.brackets > div > div > div:last-of-type {
  margin-bottom: 0px;
}
